apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openshift-gitops

resources:
  - ../lib/cluster-scope
  - ../lib/logging
  - ../lib/ceph-exporter
  - dex
  - openshift-gitops
  - acm
  - loki
  - grafana
  - hostpath-provisioner
  - vault-operator
  - vault-instance
  - vault-backup-job
  - vault-config

nameSuffix: -infra

patches:
  - target:
      kind: Application
      labelSelector: "nerc.mghpcc.org/sync-policy=common"
    patch: |
      - op: add
        path: /spec/syncPolicy
        value:
          automated:
            selfHeal: true
          syncOptions:
            - ApplyOutOfSyncOnly=true

  - target:
      kind: Application
    patch: |
      - op: replace
        path: /spec/destination/name
        value: nerc-ocp-infra

  - target:
      kind: Application
      name: cluster-scope
    patch: |
      - op: replace
        path: /spec/source/path
        value: cluster-scope/overlays/nerc-ocp-infra

  - target:
      kind: Application
      name: logging
    patch: |
      - op: replace
        path: /spec/source/path
        value: logging/overlays/nerc-ocp-infra

  - target:
      kind: Application
      name: ceph-exporter
    patch: |
      - op: replace
        path: /spec/source/path
        value: overlays/nerc-ocp-infra
