apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../lib/cluster-scope
- ../lib/logging
- ../lib/ipmi-exporter
- acct-mgt
- fake-metrics-server
- xdmod-reader

nameSuffix: -prod

patches:
  - target:
      kind: Application
      labelSelector: "nerc.mghpcc.org/sync-policy=common"
    patch: |
      - op: add
        path: /spec/syncPolicy
        value:
          automated:
            selfHeal: true
          syncOptions:
            - ApplyOutOfSyncOnly=true

  - target:
      kind: Application
    patch: |
      - op: replace
        path: /spec/destination/name
        value: nerc-ocp-prod

  - target:
      kind: Application
      name: cluster-scope
    patch: |
      - op: replace
        path: /spec/source/path
        value: cluster-scope/overlays/nerc-ocp-prod

  - target:
      kind: Application
      name: logging
    patch: |
      - op: replace
        path: /spec/source/path
        value: logging/overlays/nerc-ocp-prod

  - target:
      kind: Application
      name: ipmi-exporter
    patch: |
      - op: replace
        path: /spec/source/path
        value: overlays/nerc-ocp-prod
